= f.label :start_date
= f.date_field :start_date
= f.label :end_date
= f.date_field :end_date
= f.label :instructor
= f.select :instructor_id, options_for_select(User.with_role(:admin).collect {|l| [ l.email, l.id ] }), :include_blank => "Choose an Instructor"
= f.label :course
= f.select :course_id, options_for_select(Course.all.collect {|l| [ l.name, l.id ] })
= f.label :location
= f.select :location_id, options_for_select(Location.all.collect {|l| [ l.name, l.id ] }, location.id)
= f.submit