.row.user_top
  .large-6.medium-6.columns
    = image_tag grab_gravatar

    %h4.inline_title
      = @assignment.add_identifier

  .large-6.medium-6.columns
    %h3.inline_title.user_cohort_name= pretty_cohort_name(@assignment.cohort)
%br

.row.main_row
  .large-8.medium-8.large-centered.medium-centered.columns
    %h4.white.add_margin_right.inline_title
      %span.button.tiny.round.alert.question.cohort_question.assignment_question
        ?
      Assignment Discussion Board
    = @assignment.assignment_nav(@submission)

      
.row
  %br
  %br
.row
  = @assignment.side_box(@assignment, @submission)

  .large-6.medium-6.columns.large-offset-1.medium-offset-1.end
    %h4
      = @assignment.name
      = "(Due Date: #{@assignment.due_date})"
    %br
    = @assignment.description

.row
  %section.comments
    - @comments.reverse.each do |comment|
      %article.comment
        %a.comment-img{href: "#non"}
          = image_tag grab_gravatar(comment.user), class: 'grav'
        .comment-body
          .text
            %p= comment.content
          %p.attribution
            by
            %a{href: "#non"}= comment.user.first_name ||= comment.user.email
            at
            = comment.created_at 

    .comment_form
      %h4 Comments
      = form_for Comment.new do |f|
        = f.hidden_field :commentable_id, :value => @assignment.id
        = f.hidden_field :commentable_type, :value => "Assignment"
        = f.hidden_field :user_id, :value => current_user.id
        = render 'comments/form', f: f
    %br
    %br

= @assignment.admin_or_user_modals(@assignment)
  
= @assignment.edit_submission_modal(@submission)


.assignment_info_modal.hide.modal_custom
  = render 'info/assignment_info_modal'