.row.user_top
  .large-6.medium-6.columns
    = image_tag grab_gravatar
    - if current_user.first_name.present?
      = current_user.first_name
      = current_user.last_name
    - else
      %h4.inline_title
        = current_user.email
    %a{"data-dropdown" => "hover1", "data-options" => "align:right; is_hover:true;", href: "#"} 
      Actions
      %ul#hover1.f-dropdown{"data-dropdown-content" => ""}
        %li
          %a{href: "#", class: "add_name"} Add a Name
        %li
          %a{href: "#", class: "edit_settings"} Edit Settings
        %li
          %a{href: "#", class: "email_instructor"} Email Instructor
        %li
          %a{href: "#", class: "edit_info", data: {"user-id" => current_user.id, "user-email" => current_user.email}} 
            Edit Info

  .large-6.medium-6.columns
    %h3.inline_title.user_cohort_name= pretty_cohort_name(@assignment.cohort)
%br

.large-12.medium-12.columns.admin_main
  %h4.admin_main_title
    Assignment Discussion Board
    - if current_user.has_role? :admin
      .span.button.tiny.round.edit_assignment_button
        Edit Assignment
      = link_to "Assignment Submissions", submissions_assignment_path(@assignment), class: "button tiny round"
    -else
      - if @submission.nil?
        .span.button.tiny.round.submit_submission_button
          Submit Assignment
      - else
        .span.button.tiny.round.edit_submission_button
          Edit Your Submission
      
      - unless @submission.nil?
        .span.button.tiny.round.secondary
          .color
            = link_to "View Your Submission", submission_path(@submission.id)
  .row
    - if  current_user.has_role? :admin
      .large-3.medium-3.columns
        %h4
          Number Submitted:
          = @assignment.submissions.count
        %br
        = link_to "View All Submissions", submissions_assignment_path(@assignment)
    - else
      .large-3.medium-3.columns
        - unless @submission.nil?
          = link_to "Your Submission's", submission_path(@submission.id)
        Current Status:
        - if @submission.nil? || @submission.workflow_state.nil?
          Not Yet Submitted
        - else
          = pretty_workflow_state(@submission.workflow_state)

  
    %h4
      = @assignment.name
      = "(Due Date: #{@assignment.due_date})"
    %br
    = @assignment.description

.row
  %section.comments
    - @comments.reverse.each do |comment|
      %article.comment
        %a.comment-img{href: "#non"}
          = image_tag grab_gravatar(comment.user), class: 'grav'
        .comment-body
          .text
            %p= comment.content
          %p.attribution
            by
            %a{href: "#non"}= comment.user.first_name ||= comment.user.email
            at
            = comment.created_at 

    .comment_form
      %h4 Comments
      = form_for Comment.new do |f|
        = f.hidden_field :commentable_id, :value => @assignment.id
        = f.hidden_field :commentable_type, :value => "Assignment"
        = f.hidden_field :user_id, :value => current_user.id
        = render 'comments/form', f: f
    %br
    %br


  
​

- if current_user.has_role? :admin
  .edit_assignment_modal.hide.modal_custom
    %h1 Edit the Assignment
    = form_for @assignment do |f|
      = render 'assignments/form', f: f

- else
  .submit_submission_modal.hide.modal_custom
    %h1 Submit your Assignment
    = form_for Submission.new do |f|
      = f.hidden_field :assignment_id, :value => @assignment.id
      = f.hidden_field :user_id, :value => current_user.id
      = render 'submissions/form', f: f
  - unless @submission.nil?
    .edit_submission_modal.hide.modal_custom
      %h1 Edit Assignment Submission
      = form_for @submission, url: submission_path(@submission), method: :patch do |f|
        = render 'submissions/form', f: f

      
