.row.user_top
  .large-6.medium-6.columns
    = image_tag grab_gravatar
    - if @user.first_name.present?
      = @user.first_name
      = @user.last_name
    - else
      %h4.inline_title
        = @user.email
    %a{"data-dropdown" => "hover1", "data-options" => "align:right; is_hover:true;", href: "#"} 
      Actions
      %ul#hover1.f-dropdown{"data-dropdown-content" => ""}
        %li
          %a{href: "#", class: "add_name"} Add a Name
        %li
          %a{href: "#", class: "edit_settings"} Edit Settings
        %li
          %a{href: "#", class: "email_instructor"} Email Instructor
        %li
          %a{href: "#", class: "edit_info", data: {"user-id" => @user.id, "user-email" => @user.email}} 
            Edit Info

  .large-6.medium-6.columns
    - if @cohort.nil?
      %h3.inline_title.user_cohort_name
        Join a Cohort!
    -else
      %h3.inline_title.user_cohort_name= pretty_cohort_name(@cohort)
%br



.large-12.medium-12.columns.admin_main
  %h4.large-4.medium-4.columns.admin_main_title.inline_title
    Cohort Assignments
  .large-8.medium-8.columns.admin_main_title
    .progress.round.progress_padding
      %span.meter{style:"width: #{(100 - (@cohort.end_date - Date.today)).to_i}%"}
        Cohort Progress
  .assignment_holder
    %table.assignment_table
      %thead
        %tr
          %th.name Name
          %th.description Description
          %th.due_date Due Date
          %th.status Status
        - @cohort.assignments.each do |assignment|
          %tr
            %td= link_to assignment.name, assignment_path(assignment)
            %td= assignment.description
            %td= pretty_due_date(assignment.due_date)
            %td Status!!!

      
      
      %br
