%h4 Ironyard Dash


.row
  .large-6.medium-6.columns
    %h4.inline_title Locations
    %span.button
      Create New Location
    %br
    - unless @locations.nil?
      - @locations.each do |location|
        = link_to location.name, location_path(location)
        %br

  .large-6.medium-6.columns
    %h4.inline_title Courses
    %span.button
      Create New Course
    %br
    - unless @courses.nil?
      - @courses.each do |course|
        = link_to course.name, course_path(course)
        %br
%br
.row
  .new_location_modal
    %h4 Create a New Location
    = form_for Location.new do |f|
      = render 'locations/form', f: f

  .new_course_modal
    %h1 Create a New Course
    = form_for Course.new do |f|
      = render 'courses/form', f: f