%br
.large-11.medium-11.columns.large-centered.medium-centered
  %h2.inline_title= @location.name
  %span.button.create_cohort_button.tiny.round.iron_button_admin
    Create New Cohort
  %span.button.tiny.round.alert.iron_button_admin.question.location_question
    ?

  %table.wide_table
    %thead
      %tr
        %td
          Cohort
        %td
          Start_Date
        %td
          End Date
        %td
          Dashboard
        %td
          Edit
        %td
          Instructor

    %tbody
      - @cohorts.each do |cohort|
        %tr
          %td
            %h5
              = link_to pretty_cohort_name(cohort), cohort_path(cohort)
          %td= cohort.start_date
          %td= cohort.end_date
          %td
            = link_to "Cohort Dashboard", cohort_path(cohort), class: "button tiny round table_button"
          %td
            = link_to "Edit Cohort", cohort_edit_modal_path(cohort, 'location_id' => @location.id), :remote => true, class: "button edit_cohort_button tiny round table_button"

          %td
            - if cohort.instructor_id.nil?
              = link_to "Add Instructor", cohort_add_instructor_modal_path(cohort, 'location_id' => @location.id), :remote => true, class: "button add_instructor_button tiny round table_button"

            - else
              = link_to "Remove Instructor", cohort_remove_instructor_modal_path(cohort, 'location_id' => @location.id), :remote => true, class: "button remove_instructor_button tiny round table_button"
              
          
  


.edit_cohort_modal.hide.modal_custom


.add_instructor_modal.hide.modal_custom


.remove_instructor_modal.hide.modal_custom

             
.new_cohort_modal.hide.modal_custom
  %h1 Create a New Cohort
  = form_for Cohort.new do |f|
    = render 'cohorts/form', f: f, location: @location

.location_info_modal.hide.modal_custom
  = render 'info/location_info_modal'