%br
.large-11.medium-11.columns.large-centered.medium-centered
  %h2.inline_title= @location.name
  %span.button.create_cohort_button.tiny.round
    Create New Cohort

  %table.wide_table
    %thead
      %tr
        %td
          Cohort
        %td
          Start_Date
        %td
          End Date
        %td
          Dashboard
        %td
          Edit
        %td
          Instructor

    %tbody
      - @location.cohorts.each do |cohort|
        %tr
          %td
            %h5
              = link_to pretty_cohort_name(cohort), cohort_path(cohort)
          %td= cohort.start_date
          %td= cohort.end_date
          %td
            = link_to "Cohort Dashboard", cohort_path(cohort), class: "button tiny round"
          %td
            .span.button.edit_cohort_button.tiny.round
              Edit Cohort

          %td
            - if cohort.instructor_id.nil?
              %span.button.add_instructor_button.tiny.round#add
                Add Instructor
            - else
              %span.button.remove_instructor_button.tiny.round#remove
                Remove Instructor
              
        
        .add_instructor_modal.hide.modal_custom
          %h1 Add Instructor
          .add_instructor_form
            = form_for cohort do |f|
              = render 'cohorts/add_instructor_form', f: f

        .remove_instructor_modal.hide.modal_custom
          %h1 Remove Instructor
          = form_for cohort do |f|
            = render 'cohorts/remove_instructor_form', f: f
               
        .edit_cohort_modal.hide.modal_custom
          %h1 Edit Cohort
          = form_for cohort do |f|
            = render 'cohorts/form', f: f, location: @location

  .new_cohort_modal.hide.modal_custom
    %h1 Create a New Cohort
    = form_for Cohort.new do |f|
      = render 'cohorts/form', f: f, location: @location

