%h1.inline_title= @location.name
%span.button.create_cohort_button
  Create New Cohort

%table
  %tbody
    - @location.cohorts.each do |cohort|
      %tr
        %td= link_to cohort.name, cohort_path(cohort)
        %td= cohort.start_date
        %td= cohort.end_date
        %td
          = link_to "Cohort Dashboard", cohort_path(cohort), class: "button"
        %td
          .span.button.edit_cohort_button
            Edit Cohort

      .edit_cohort_modal.hide.modal_custom
        %h1 Edit Cohort
        = form_for cohort do |f|
          = render 'cohorts/form', f: f, location: @location


.new_cohort_modal.hide.modal_custom
  %h1 Create a New Cohort
  = form_for Cohort.new do |f|
    = render 'cohorts/form', f: f, location: @location

